page-profile {
    .toolbar-ios {
        ion-title {
            transform: translateY(30px);
        }
    }

    .scroll-content {
        background-color: #777;
    }

    .toolbar-background-ios {
        background: #888;
        border-color: transparent !important;
    }

    .background-user-info {
        width: 100%;
        height: 150px;
        background: #777;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content-user-info {
        display: inline-block;
        .content-user-info__image {
            width: 70px;
            height: 70px;
            background: #444;
            border-radius: 50%;
            margin: 0 auto;
        }
        .content-user-info__name {
            height: 30px;
            line-height: 30px;
            margin: 0;
            color: white;
        }
    }

    .history {
        background-color: white;
    }

}
